<h1 data-test-application-intro>A Simple Registration App</h1>

<div data-test-button-container>
  {{#link-to 'form'}}
    {{#paper-button raised=true}}Do Form Things!{{/paper-button}}
  {{/link-to}}
</div>
